body {
	font-family: 'Lato';
    padding: 1em;
}
@media (max-width: 640px) {
    body::after {
        content: "Resolution is too small to display";
        font-size: 2em;
        transition: all 1s linear;
    }
    table.container {width: 90%;}
}
div.wrapper {padding-top: 65px;}
div#menu {max-height: 50px !important; position: fixed; width: 100%; z-index: 1;}
.container_loading {
    visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   -webkit-transition:all 1s;
   -moz-transition:all 1s;
   transition:all 1s;
}
.loading {
    background: rgba(0, 0, 0, 0.4) url(../img/loading1.gif) no-repeat center center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
/* Menu user box */
table.menu_vertical {
	background-color: #eee;
}
.menu_vertical .myMenu {padding: 0.4em 0;}
#menu {margin-bottom: 1.8em;}
#users #user_logged {
    background: #fff;
    box-shadow: 4px 9px 20px #000;
    box-sizing: content-box;
    display: none;
    font-size: 1em;
    max-width: 250px;
    overflow: hidden;
    padding: 1em 1em 1.4em 1em;
    position: absolute;
    right: 2%;
    top: 50px;
    width: 100%;
    z-index: 1;
    
    /*border-top: 20px solid #85B680;*/
    border-top: 15px solid transparent;
    -moz-border-image: -moz-linear-gradient(right, #FC913A 0%, #FF4E50 100%);
    -webkit-border-image: -webkit-linear-gradient(right, #FC913A 0%, #FF4E50 100%);
    border-image: linear-gradient(to left, #85B680 0%, #609BCD 100%);
    border-image-slice: 1;
}
#menu #users #name {
	background: url(../img/menu_user.png) no-repeat;
	background-position: 100%;
	cursor: pointer;
	font-size: 0;
    right: 2%;
    top: 12px;
	width: 30px;
}
.rolesP {
  border: 2px inset #ccc;
  padding: 5px 3px;
  margin: 5px 0 0 0;
  /*display: inline-block;*/
}
.multiselect-native-select-container {
  margin: 15px 0 0 0;
}
/*#users, #table_permissions {table-layout: fixed;}*/
@media (min-width: 800px) and (max-width: 1920px) {
	#users #name {
	    position: absolute;
	    font-family: Open Sans Condensed;
	    right: 150px;
	    top: 5px;
	    width: 60px;
	    height: 30px;
	    z-index: 99;
	    font-size: 1.1em;
	    text-transform: uppercase;
	    color: #555;
	}	
}
.user_name {
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
  line-height: 1;
  /*max-width: 57%;*/
  max-width: 70%;
  float: right;
  text-align: right;
  max-height: 65px;
  overflow: hidden;
  width: 100%;
}
.user_name_roles {float: right;}
.ico_user {
  float: left;
  border: 5px solid #ccc;
  border-radius: 50%;
  box-shadow: 6px 6px 6px #1d1d1d;
  padding: 3% 3% 4% 4%;
  max-width: 100%;
  width: 25%;
}
.ico_user img {width: 100%;}
.settings_users_container {
  position: absolute;
  bottom: 20%;
  cursor: pointer;
  right: 0;
  padding-right: 4%;
  width: 35%;
  /*width: 100%;*/
}
.settings_users_container span {
    float: right;
    margin: 0.2em 0 0 0.5em;
}
#user_logged .settings_users_container #settings_users.settings_users_custom {float: right; position: static;}
.rootVoices td.rootVoice {text-align: center;}
/* menu user box end */

/* tabs */
.nav-tabs {margin-bottom: 1.6em;}
/* tabs end */

/* Tables */
.tabs-container {
  width: 80%;
  /*margin: auto;*/
  margin: 4% auto;
}
table.table_users thead th:first-child {
    width: 20%;
}
table.table_users thead th:nth-child(2) {
    width: 11%;
}
table.table_users thead th:nth-child(3) {
    width: 20%;
}
table.table_users thead th:nth-child(4) {
    width: 12%;
}
table.table_users thead th:nth-child(5) {
    width: 16%;
}
table.table_users thead th:last-child {
    width: 21%;
}
table.table_users.dataTable.nowrap th, table.table_users.dataTable.nowrap td,
table.table_permissions.dataTable.nowrap th, table.table_permissions.dataTable.nowrap td {
    white-space: inherit;
}
.tables_container table.dataTable.table_users {margin-bottom: 1em;}
.table_users thead, 
.table_permissions thead {
	background: rgb(240, 239, 239);
}
.table_users thead tr th, 
.table_permissions thead tr th {
	text-align: center;
}
.table_users tbody tr td, 
.table_permissions tbody tr td,
.table_users tfoot td,
.table_permissions tfoot td {
	outline: none;
  text-align: center;
}

table.table_users tfoot tr,
table.table_permissions tfoot tr {
    /*height: 60px;*/
    background-color: #edf3f1;
}
table.table_users tfoot td,
table.table_permissions tfoot td {
  padding: 15px 10px 0px 10px;
}
.table_users tbody tr:hover, 
.table_permissions tbody tr:hover {
  background-color: rgb(238, 238, 238);
}
.table_users tbody tr:last-child td, 
.table_permissions tbody tr:last-child td {
  border-bottom: 1px solid #1d1d1d;
}

table.table_users.dataTable thead th,
table.table_permissions thead th {
	background-image: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: none;
	background-color: none;
	border: none;
}
/*table.table_users td:last-child,
table.table_permissions td:last-child{
  width: 180px;
}*/
table.table_users td,
table.table_permissions td {display: table-cell;} 
tr.parent + tr.child td.child {text-align: left;}

/* table buttons */
button._update {
	background-color: #609BCD;
  margin-right: 10px;
}
button._remove {
  background-color: rgb(182, 133, 133);
}
button._add, button.btn_save_roles_edit {background-color: rgb(133, 182, 128);}
button.btn_cancel_roles_edit {background-color: rgb(182, 133, 133);}

button._add, button._update, button._remove {
    -webkit-appearance: none;
    border: 0px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 0.9em;
    font-family: open sans condensed;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
button.btn {
    width: 80px;
    /*height: 25px;*/
    padding: 3px 0;
}
button.btn.multiselect {
  width: auto;
}
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
    padding: 3px 5px;
}
.modal .modal-backdrop {
    z-index: -1;
    background-color: none;
}

tfoot td:first-child {width: 20%;}
tfoot td:nth-child(1) {width: 11%;}
tfoot td:nth-child(2) {width: 20%;}
tfoot td:nth-child(3) {width: 12%;}
tfoot td:nth-child(4) {width: 16%;}
tfoot td:last-child {width: 21%;}


.lineManager {
	position: relative;
    height: 28px;
	width: 100%;
}

/* bootstrap multiselect */

/*.multiselect-native-select {display: none;}*/

.btn_save_roles_edit, .btn_cancel_roles_edit {border: 1px solid #575756;}
.btn_save_roles_edit {margin-right: 1em;}
.td_roles {cursor: pointer;}
/*.multiselect-native-select-container {display: none;}
.multiselect-native-select {float: left;}*/
.buttons_roles_edit {float: left; margin-left: 1em;}
.hide_element {display: none;}

/* Tables end */

/* Utils */
.greyscale_disabled {
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -o-filter: grayscale(1);
  filter: grayscale(1);

  background-color: #aaa !important;

  opacity:0.2;
}
table.table_users.dataTable.nowrap tfoot td {
    padding-bottom: 1em;
}

/*animation*/

@-webkit-keyframes smallToBig{
    from {
        -webkit-transform: scale(0.90);
    }
    to {
        -webkit-transform: scale(1.2);
    }
}
@-moz-keyframes smallToBig{
    from {
        -moz-transform: scale(0.8);
    }
    to {
        -moz-transform: scale(1.2);
    }
}
@-ms-keyframes smallToBig{
    from {
        -ms-transform: scale(0.9);
    }
    to {
        -ms-transform: scale(1.2);
    }
}

button._update.toupdate {
    -webkit-animation: smallToBig 700ms alternate infinite ease;
    -moz-animation: smallToBig 700ms alternate infinite ease;
    -ms-animation: smallToBig 700ms alternate infinite ease;
}

div#forms {display: none;}

.user_roles .glyphicon-pencil,
.td_current_permissions .glyphicon-pencil {
    color: #337ab7;
    left: 1em;
}
.tabs-container ul.nav-tabs {border-bottom: 1px solid #575756; position: relative; z-index: 0;}
.tabs-container ul.nav-tabs>li.active>a, ul.nav-tabs>li.active>a:hover, ul.nav-tabs>li.active>a:focus {border: 1px solid #575756; border-bottom-color: transparent;}
.tabs-container ul.nav-tabs>li:not(.active) {margin-top: -1px;}
/* Create a new service */
.window_msg.msg_error {
    border: 2px solid #C00;
}
.window_msg {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 35%;
    max-width: 87%;
    height: 100px;
    max-height: 300px;
    min-height: 115px;
    background: #f0f0f0;
    border-radius: 5px;
    color: black;
    font-family: open sans condensed;
    font-size: 1.3em;
    font-weight: 600;
    z-index: 9999;
    display: none;
    cursor: default;
    padding: 1.8em 0 0 100px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 5% 45%;
    /* pm */
    border: 2px solid #aaa;
    /* pm */
}
.closeWindow {
    position: absolute;
    right: 8px;
    top: 6px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-image: url(../img/close_black20.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
}
div.window {
    position: fixed;
    left: 20%;
    top: 20px;
    width: 70%;
    height: auto;
    background: #fff;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-left: -10%;
    box-sizing: border-box;
    box-shadow: 2px 2px 11px #666;
    z-index: 9999;
    display: none;
    border-radius: 5px;
    font-family: open sans condensed;
    font-weight: 600;
    font-size: 1em;
}
.draggable {
    cursor: move;
}

div.window > div {
    position: relative;
    left: 0px;
    top: 0px;
    width: 98%;
    height: auto;
    color: black;
    padding-top: 10px;
    padding-bottom: 15px;
    box-sizing: border-box;
    display: block;
    z-index: 9;
}
div.window .title {
    background: black;
    text-transform: uppercase;
    padding-left: 10px;
    color: black;
    letter-spacing: 1px;
    font-weight: 800;
}
div.window .title {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 50px;
    background: #000;
    padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    font-size: 1.3em;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
span.close.x {
    padding: 0px;
    right: 4px;
    margin-top: -4px;
    width: 36px;
    height: 36px;
    background-image: url(../img/close_w.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    opacity: 1!important;
}
span.close {
    position: absolute;
    right: 9px;
    padding: 0px 2px 0px 2px;
    font-size: 0.8em;
    cursor: pointer;
}
div.window .container {
    position: absolute;
    left: 2%;
    top: 50px;
    width: 95%;
    height: 88%;
    border: 0px;
    padding-left: 25px;
    border-radius: 0!important;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffffff;
}


h1.titleMSG:first-child {
    border: 1px solid #ccc;
    border-bottom: 2px solid #000;
    margin-top: 0;
    padding-bottom: 5px;
    text-align: center;
}
h1.titleMSG {
    text-transform: uppercase;
    color: rgb(6, 6, 6);
    font-family: Open Sans Condensed;
    letter-spacing: 1px;
    margin-bottom: 13px;
    border-bottom: 3px solid rgb(8, 8, 8);
    width: 97%;
    margin-left: 0px;
    font-size: 1.8em;
    font-weight: 600;
}
.ui-draggable .container input {
    border-radius: 4px!important;
}
div#buttons {
    height: 60px;
    width: 96%;
    left: 2%;
    position: absolute;
    top: initial;
    bottom: 10px!important;
    border: 0px;
    border-top: 1px solid #ccc;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    z-index: 99;
}
span#cancelar, span#aceptar, span#create_service, span#dont_create, span#rem_service, span#dont_delete, span#dont_import {
    position: relative;
    float: right;
    right: 0px;
    background: rgb(133, 182, 128);
    color: black !important;
    text-transform: CAPITALIZE;
    font-family: Helvetica;
    font-weight: 600;
    font-size: 0.9em;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 15px;
    line-height: 17px;
    opacity: 1!important;
}
span#cancelar, span#dont_create, span#dont_delete, span#dont_import {
    background: #bdbdbd;
    float: right;
}
form#enames .label2 {
    width: 225px;
}
span#cancelar::before, span#dont_create::before, span#dont_delete::before, span#dont_import::before {
    content: "\e014";
}
span#create_service::before {
  content: "\e013";
}
span#cancelar::before, span#aceptar::before, span#create_service::before, span#dont_create::before, span#rem_service::before, span#dont_delete::before, span#dont_import::before {
    font-family: "Glyphicons Halflings";
    font-size: 0.85em;    
    margin-left: 0px;
    margin-right: 5px;
    line-height: 1.5em;
}
@media (max-width: 1920px) and (min-width: 1536px) {
  div.window .container {
    position: absolute;
    left: 2%;
    top: 55px;
    width: 95%;
    height: 87%;
    border: 0px;
    padding-left: 25px;
    border-radius: 0 !important;
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
  }
  div#buttons {
    height: 50px;
    width: 98%;
    left: 1%;
    position: absolute;
    bottom: 5px !important;
    border: 0px;
    border-top: 1px solid #ccc;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    z-index: 99;
    box-sizing: border-box;
    padding: 5px;
    background: white;
  }  
}

@media (max-width: 1920px) and (min-width: 1366px) {
  div.window .container {
    position: absolute;
    left: 2%;
    top: 55px;
    width: 95%;
    height: 87%;
    border: 0px;
    padding-left: 25px;
    border-radius: 0 !important;
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
  }
  form#enames {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 500px;
    font-size: 1.2em;
    text-transform: capitalize;
    font-family: Open sans condensed;
    font-weight: 600;
  }
  form#enames legend {
    position: absolute;
    width: 100%;
    /*left: 0%;*/
    left: 2%;
    top: 50px;
    font-size: 1em;
    font-family: Open sans condensed;
    font-weight: 500;
    border: 0px;
  }
  .select_target {
    position: absolute;
    /*top: 50px;*/
    top: 30px !important;
    width: 300px;
    left: 0px;
    font-size: 1em;
  }
  form#enames {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 500px;
    font-size: 1.2em;
    text-transform: capitalize;
    font-family: Open sans condensed;
    font-weight: 600;
  }
  form#enames input#copy_service_input {
    position: absolute;
    /*top: 74px;*/
    top: 58px;
    left: 65%;
    height: 1.7em;
    font-size: 1.2em;
    text-align: left;
    margin-top: 2px;
    border-radius: 5px;
    padding-left: 10px;
    transition: all 0.5s;
    width: 55%;
    border: 1px solid #ccc;
    background-color: #eee;
    font-family: open sans condensed;
    font-weight: 600;
  }
  form#enames .label2 {
    position: absolute;
    left: 65%;
    /*top: 50px;*/
    top: 35px;
    font-size: 1em;
    font-family: Open sans condensed;
    font-weight: 500;
    width: 225px;
  }
  label.new {
    text-transform: uppercase;
    color: black;
    font-family: Open Sans Condensed;
    margin-top: 0;
    letter-spacing: 1px;
    padding: 10px;
    margin-bottom: 0;
    position: absolute;
    top: 190px;
  }
  label.copy {
    text-transform: uppercase;
    color: black;
    font-family: Open Sans Condensed;
    margin-top: 0;
    letter-spacing: 1px;
    padding: 10px;
    margin-bottom: 0;
    position: absolute;
    /*top: 10px;*/
    top: -8px !important;
  }
  #select_target {
    position: absolute;
    /*top: 75px;
    left: 0;*/
    top: 60px;
    left: 2%;
    width: 55%;
    font-size: 1.1em;
    height: 1.8em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    font-family: open sans condensed;
    font-weight: 600;
  }
  h1.or {
    text-transform: uppercase;
    color: white;
    font-family: Open Sans Condensed;
    margin-top: 0;
    letter-spacing: 1px;
    padding: 10px;
    margin-bottom: 0;
    position: absolute;
    /*top: 125px;*/
    top: 117px;
    color: black;
    font-size: 1.5em;
    font-weight: 600;
    left: 10px;
    border: 0px;
  }
  hr.or {
    position: absolute;
    left: 57px;
    top: 124px;
    border: 0;
    border-bottom: 1px solid black;
    width: 650px;
  }
  form#enames .label1 {
    position: absolute;
    width: 100%;
    left: 10px;
    top: 225px;
    font-size: 1em;
    font-family: Open sans condensed;
    font-weight: 500;
  }
  form#enames input#new_service_input {
    position: absolute;
    width: 55%;
    left: 10px;
    top: 250px;
    height: 1.7em;
    font-size: 1.2em;
    text-align: left;
    margin-top: 2px;
    border-radius: 5px;
    padding-left: 10px;
    transition: all 0.5s;
    border: 1px solid #ccc;
    background-color: #eee;
    font-family: open sans condensed;
    font-weight: 600;
    z-index: 10;
  }
  h1.or {
    top: 120px;
  }

  /* readystate */
  .readyState {
        position: absolute;
        width: 90%;
        left: 50%;
        top: 10%;
        margin-left: -44%;
        color: #eee;
        font-size: 18em;
        font-family: Open Sans Condensed;
        transform: scaleX(1.10) scaleY(1.5);
        z-index: 2;
        line-height: 1.0;
        font-weight: 600;
        text-align: center;
    }
    .ron {
        position: absolute;
        width: 30%;
        left: 50%;
        margin-left: -15%;
        color: #f00;
        margin-top: 10%;
        font-size: 4em;
        font-family: Open Sans Condensed;
        text-align: center;
        z-index: 3;
        font-weight: 600;
        line-height: 1.0;
        text-align: center;
    }
    .cyvpn {
        position: absolute;
        width: 50%;
        left: 50%;
        margin-left: -25%;
        color: #000;
        margin-top: 14%;
        font-size: 2em;
        font-family: Open Sans Condensed;
        text-align: center;
        z-index: 3;
    }
}
@media (min-width: 1920px) {
  form#enames {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 500px;
    font-size: 1.2em;
    text-transform: capitalize;
    font-family: Open sans condensed;
    font-weight: 600;
  }
  form#enames legend, form#enames label {
    position: absolute;
    width: 100%;
    left: 5%;
    top: 214px;
    font-size: 1em;
    font-family: Open sans condensed;
    font-weight: 500;
  }
  .select_target {
    position: absolute;
    /*top: 16px;*/
    top: 30px !important;
    width: 300px;
    left: 5%;
    font-size: 1em;
  }
  #select_target {
    position: absolute;
    top: 41px;
    width: 60%;
    left: 5%;
    font-size: 1.1em;
    height: 1.8em;
  }
  form#enames {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 500px;
    font-size: 1.2em;
    text-transform: capitalize;
    font-family: Open sans condensed;
    font-weight: 600;
  }
  form#enames input#copy_service_input {
    position: absolute;
    /*top: 38px;*/
    top: 57px;
    left: 340px;
    height: 1.7em;
    font-size: 1.2em;
    text-align: left;
    margin-top: 2px;
    border-radius: 5px;
    padding-left: 10px;
    transition: all 0.5s;
    width: 50%;
  }
  form#enames .label2 {
    position: absolute;
    left: 68%;
    /*top: 14px;*/
    top: 35px;
  }
  form#enames legend, form#enames label {
    position: absolute;
    width: 100%;
    left: 5%;
    top: 214px;
    font-size: 1em;
    font-family: Open sans condensed;
    font-weight: 500;
  }
  form#enames label.new {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 180px;
    font-size: 1em;
    font-family: Open sans condensed;
    font-weight: 600;
  }
  form#enames legend, form#enames label {
    position: absolute;
    width: 100%;
    left: 5%;
    top: 214px;
    font-size: 1em;
    font-family: Open sans condensed;
    font-weight: 500;
  }
  label.new {
    text-transform: uppercase;
    color: black;
    font-family: Open Sans Condensed;
    margin-top: 0;
    letter-spacing: 1px;
    padding: 10px;
    margin-bottom: 0;
    position: absolute;
    top: 190px;
  }
  form#enames label.copy {
    position: absolute;
    width: 100%;
    left: 0%;
    top: -10px !important;
    font-size: 1em;
    font-family: Open sans condensed;
    font-weight: 600;
  }
  form#enames legend, form#enames label {
    position: absolute;
    width: 100%;
    left: 5%;
    top: 214px;
    font-size: 1em;
    font-family: Open sans condensed;
    font-weight: 500;
  }
  label.copy {
    text-transform: uppercase;
    color: black;
    font-family: Open Sans Condensed;
    margin-top: 0;
    letter-spacing: 1px;
    padding: 10px;
    margin-bottom: 0;
    position: absolute;
    top: 10px;
  }
  #select_target {
    position: absolute;
    /*top: 41px;
    left: 5%;*/
    top: 60px;
    left: 2%;
    width: 60%;
    font-size: 1.1em;
    height: 1.8em;
  }
  h1.or {
    text-transform: uppercase;
    color: white;
    font-family: Open Sans Condensed;
    margin-top: 0;
    letter-spacing: 1px;
    padding: 10px;
    margin-bottom: 0;
    position: absolute;
    /*top: 85px;*/
    top: 117px;
    color: black;
    font-size: 1.5em;
    font-weight: 600;
    left: 10px;
  }
  hr.or {
    position: relative;
    left: 57px;
    top: 120px;
    border: 0;
    border-bottom: 1px solid black;
    width: 145%;
  }
  form#enames legend, form#enames label {
    position: absolute;
    width: 100%;
    left: 5%;
    top: 214px;
    font-size: 1em;
    font-family: Open sans condensed;
    font-weight: 500;
  }
  form#enames input#new_service_input {
    position: absolute;
    width: 55%;
    /*left: 5%;
    top: 165px;*/
    height: 1.7em;
    font-size: 1.2em;
    text-align: left;
    margin-top: 2px;
    border-radius: 5px;
    padding-left: 10px;
    transition: all 0.5s;
  }
}

label.bye {
  float: right;
  margin: 33px 47px 0 0;
}
input#remove_service_input {
    float: right;
    margin: 5px 0 0 220px;
}
.error-no-user {
    border: 2px solid #ff3838;
    border-radius: 4px;
    -moz-border-radius: 4px;
}
 .td_current_permissions button.multiselect {
    max-width: 600px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.zIndex-1 {z-index: -1;}


.div-service-operator-half {
  float: left;
  margin: 0 0 2em 0;
  width: 48%;
}
.div-service-operator-half label {
  margin: 0 1em 0 0;
}
.div-service-operator-half select {
    font-size: 1.1em;
    height: 1.8em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    font-family: open sans condensed;
    font-weight: 600;
}
.div-service-operator-half:first-child {margin: 0 2% 0 0;}
.div-service-operator-half label {font-size: 1.2em; font-weight: 500;}
div.container div.div-service-operator-half {border-top: none;}
.div-subscription-type-input {
    position: absolute;
    width: 100%;
    bottom: 10%;
}
.input_subscription_type {
    background-color: #eee;
    font-family: open sans condensed;
    font-weight: 600;
    height: 3em;
    padding-left: 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0 0 0 1em;
    width: 51%;
}
div.window > div.buttons_cst,
div.window > div.buttons_dst {
    position: absolute;
    top: 85%;
    border-top: 1px solid #ccc;
    width: 95%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.window .buttons_cst span, 
.window .buttons_dst span {
    position: relative;
    float: right;
    right: 0px;
    background: rgb(133, 182, 128);
    text-transform: capitalize;
    font-family: Helvetica;
    font-weight: 600;
    font-size: 0.9em;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 15px;
}
.buttons_cst span.close,
.buttons_dst span.close {
    background-color: #bdbdbd;
}
.close.close_opacity {
  line-height: 1.5;
  opacity: 1;
  color: #000;
}
.new_sc {
    display: block;
    font-size: 1.4em;
    margin: 0 0 1em 0;
}
.divModal {position:fixed;left:0px;top:0px;width:100%;height:10000px;background: #000;z-index:100;display:none;opacity: 0.4;}

@media (min-width: 1920px) {
  label.bye {  
    top: 0 !important;
    left: 67% !important;
  }
  input#remove_service_input {
    float: right;
    margin: 61px 0 0 220px;
  }
}    
@media (min-width: 1470px) and (max-width: 1830px) {
    .tabs-container {
        margin: 5% auto;
    }
}
@media (min-width: 1250px) and (max-width: 1469px) {
    .tabs-container {
        margin: 6% auto;
    }
}
@media (min-width: 1100px) and (max-width: 1249px) {
    .tabs-container {
        margin: 7% auto;
    }
}
@media (min-width: 950px) and (max-width: 1099px) {
    .tabs-container {
        margin: 8% auto;
    }
}
@media (min-width: 800px) and (max-width: 949px) {
    .tabs-container {
        margin: 9% auto;
    }
}
@media (max-width:800px){
  ul, div, form, input, span {display:none;}
  body::after{display:block!important;content:"Resolution is too small to display";height:90%;width:90%;font-size:2em;transition:all 1s linear;}
 
}
@media (min-width: 1281px) and (max-width: 1399px) {
    .rootVoices {margin: 0 5%;}
    .menu_theme_blue .rootVoices {margin: 0;}
}
@media (min-width: 1161px) and (max-width: 1280px) {
    .rootVoices {margin: 0 10%;}
    .menu_theme_blue .rootVoices {margin: 0;}
}

@media (max-width: 1366px) {   
    .menu_vertical .myMenu {height: 45px;}
    .rootVoices td.rootVoice {
        padding: 8px 8px 10px 55px;
        -webkit-transform: scale(0.94);
        -moz-transform: scale(0.94);
        -ms-transform: scale(0.94);
        -o-transform: scale(0.94);
        transform: scale(0.94);
    }
}



/* pm styles */
#createdResultPlaceholder {margin: 6em 0 0 0;}
.container-fluid.text-center h1 {
    background-color: #191919;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    color: #fff;
    font-size: 1.8em;
    margin: 0 0 1.6em 0;
    padding: 1%;
}
.container-fluid.text-center h1,
.form-group label {font-family: 'Quicksand', sans-serif; font-weight: 600;}

.btn-submit-first {padding-left: 0;}
.form-group input#subject {width: 100% !important;}

input, .select2 + span, textarea {
    border: 1px solid #aaa !important;
    border-radius: 5px;
}

.form-group label {         
    margin: 0 2em 0 0;
    text-align: right;
    width: 8%;
}
span.select2-container--bootstrap,      
.form-group input {
    display: inline-block;
    width: calc(92% - 36px) !important;
}

select#issueSelector + span.select2-container--bootstrap {width: 400px !important;}

.btn-submit-last {width: 9%;}
.btn-submit-last > .container-fluid {float: right;}

@media (max-width:715px){
    .form-group label {
        width: 18%;
    }
    div.form-group input,
    .form-group select#issueTypeSelector + span.select2-container--bootstrap,
    .form-group select#projectSelector + span.select2-container--bootstrap {
        width: calc(82% - 36px) !important;
    }
    div.btn-submit-last {
        width: 20%;
    }
}

@media (max-width:920px){
    .form-group label {
        width: 18%;
    }
    .form-group input,
    select#issueTypeSelector + span.select2-container--bootstrap,
    select#projectSelector + span.select2-container--bootstrap {
         width: 77% !important;
    }
    div.btn-submit-last {
        width: 21%;
    }
}
@media (min-width:921px) and (max-width:1366px){
    span.select2-container--bootstrap, .form-group input {width: calc(92% - 84px) !important;}
    .form-group label {
        width: 12%;
    }
    .btn-submit-last {
        width: 14%;
    }
}
/* end pm styles */

    
